@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
    var res = await authorizationService.AuthorizeAsync(this.User, "ViewManageMenu");
}

@if (res.Succeeded)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-action="Index" asp-controller="DbManage" asp-area="Database">Database</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-action="Index" asp-controller="Role" asp-area="Identity">Roles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-action="Index" asp-controller="User" asp-area="Identity">Members</a>
    </li>
}
    
