@{
    ViewData["Title"] = "Email confirmation";
}

<h1>@ViewData["Title"].</h1>
<div>
    <p>
        Email confirmed. 
        <a asp-controller="Account" asp-action="Login">Login</a>.
    </p>
</div>
