@{
    ViewData["Title"] = "Account lock";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">
        You account has been locked, please try again later.
    </p>
</header>
